a.info-box{
      text-decoration : none;
      background      : rgba(255 ,225, 55, .8);
      width           : 90%;
      height          : 90px;
      display         : block;
      margin          : auto;
      margin-top      : 12px;
      padding         : 1px; 
}